* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .button:hover {
  background-color: rgb(230, 226, 226);
}
button :hover {
  background-color: rgb(230, 226, 226);
} */

.ant-menu-submenu-title {
  background: transparent !important;
  margin: 0;
  padding: 0 !important;
}
.ant-menu-item {
  margin: 0 !important;
  padding-left: 0.4rem !important;
  height: 2rem !important;
  font-weight: 400;
  background: rgb(252, 250, 248);
}
.custom-menu .ant-menu-submenu-arrow {
  display: none;
}
.custom-menu .ant-menu-submenu:hover .ant-menu-submenu-arrow {
  background: rgb(240, 238, 238);
  border-radius: 5px;
  display: block;
}
.custom-menu .ant-menu-submenu-title {
  height: 3rem !important;
  margin: 0 !important;
}
.custom-menu .ant-menu-item-selected {
  background-color: #fdeeea;
  color: #a81f00;
}
.custom-menu Button {
  display: none;
}
.custom-menu .ant-menu-item:hover Button {
  display: block;
}
.custom-menu .flex-container:hover Button {
  display: block;
}
.ant-modal .ant-modal-content {
  padding: 8px 15px;
}
.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-3rel02).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: black;
}
.ant-menu-inline .ant-menu-item,
:where(.css-dev-only-do-not-override-3rel02).ant-menu-vertical .ant-menu-item,
:where(.css-dev-only-do-not-override-3rel02).ant-menu-inline
  .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-3rel02).ant-menu-vertical
  .ant-menu-submenu-title {
  padding-inline: 2px;
}
